[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
ipdb = "*"
pytest = "7.1.3"

[dev-packages]
sqlalchemy = "*"
pytest = "*"
ipdb = "*"

[requires]
python_version = "3.10"
